{% include "header.html" %}
</head>
<body>
<h1>About</h1>
<h2>Purpose?</h2>
Pardon me, what did you just say? Purpose? LOL! What purpose?

<h2>Who is the dumb creator?</h2>
A nobody, but you can find him at <a href="http://lmgtfy.com/?q=livibetter">Sea of Links</a>.

<h2>Questions</h2>
I guess some people will ask:
<h3>What is a valid word?</h3>
Basically a word must be <tt>[ \-a-zA-Z]{1,100}</tt>.
<h3>Why do some words repeatedly show up?</h3>
This app doesn't store what words you have linked. At beginning of this app, the word bank is small, so you will get nuts more often.
<h3>What is the very beginning?</h3>
<strong>Start!</strong>
<h3>Do you store my personal information</h3>
No. But your IP will be kept up to an hour when you tried to link a word. If you do some thing weird, your IP probably will be logged.
<h3>May I spam this app?</h3>
Please don't try it! I beg you! Really! Seriously! Spammers, please, your lowness!
<h3>Why does this app look so ugly?</h3>
What can you expect from a dumb creator?

{% include "footer.html" %}
</body>
</html>
