    <div id="footer">
        <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/statistics">Statistics</a> | <a href="http://groups.google.com/group/yu-jie-lin">Discussions</a> | <a href="http://code.google.com/p/next-word/">Source</a></p>
		<p>&copy; 2008, 2010 Yu-Jie Lin</p>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-266644-10");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
    </div>
