    <div id="footer">
        <p><a href="/">Home</a> | <a href="/about">About</a> | <a href="/statistics">Statistics</a> | <a href="http://groups.google.com/group/yu-jie-lin">Discussions</a> | <a href="http://code.google.com/p/next-word/">Source</a></p>
		<p>&copy; 2008, 2010 Yu-Jie Lin</p>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18231008-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </div>
