{% include "header.html" %}
    <script type="text/javascript">
    function set_next_focus() {
        ele = document.getElementById("next");
        if (ele) 
            ele.focus();
        }
    </script>
</head>
<body onload="set_next_focus()">
<h1>next -> word</h1>
    {{ message }}
    <div id="input-form">
        {% include "input_form.html" %}
    </div>
    {% ifnotequal top_out_ago -1 %}
    <h2>Quick Stat of &ldquo;{{ top_out.0.start.display_word|escape|default:"" }}&rdquo;</h2>
    <div id="outs">
    <table>
        <tr>
            <th colspan="3">Link</th>
            <th>Percent</th>
        </tr>
        {% for link in top_out %}
        <tr>
            <td><a href="/word/{{ link.start.word|urlencode }}">{{ link.start.display_word|escape }}</a></td>
            <td><a href="/link/{{ link.start.word|urlencode }}/{{ link.end.word|urlencode }}">-&gt;</a></td>
            <td><a href="/word/{{ link.end.word|urlencode }}">{{ link.end.display_word|escape }}</a></td>
            <td>{{ link.percent|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
    <p>Last updated {{ top_out_ago }} minute{{ top_out_ago|pluralize }} ago</p>
    </div>
    {% endifnotequal %}
{% include "footer.html" %}
</body>
</html>
