<h2>Link this word</h2>
<form action="" method="post">
<div id="link-form">
<div id="linked-word">{{ req.word.display_word|default:"" }}</div>
<div style="text-align:center">|</div>
<div style="text-align:center">|</div>
<div style="text-align:center">\|/</div>
<input id="next" type="text" name="next" value="{{ next|escape }}" autocomplete="off"/><br/><br/>
{# maybe not a good idea to have three submits in a form #}
<button type="submit" name="action" value="link">Get Next!</button>
<button type="submit" name="action" value="skip">Skip ==&gt;</button>
<input type="hidden" name="req_word" value="{{ req.word.word }}"/>
</div>
</form>
<div>
<h2>Is it a valid word?</h2>
Is &ldquo;{{ req.word.display_word|default:"" }}&rdquo; not a valid word? Leave your suggestion in <a href="/word/{{ req.word.word|urlencode }}">its profile page</a>.
</div>
