@import url(/font/stylesheet.css);

* {
font-family: "M+ 1m", monospace;
}

body {
background-color: #ccc;
color: #444;
width: 640px;
}

a {
color: #44f;
}

a:visited {
color: #c4c;
}

a:hover {
color: #4cc;
}

button,
input {
background-color: #888;
border: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; 
color: #ccc;
font-size: 1.2em;
padding: 2px;
}

button:hover,
input:hover {
color: #fcc;
}

button:focus,
input:focus {
background-color: #848;
}

/* Message Box */

#message {
background-color: #ffc0cb;
border: 0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: #c00;
padding: 0.5em;
}

#message.error {
background-color: #f44;
color: #fff;
}

/* Link Form Page */

#link-form {
font-size: 1.2em;
}

#linked-word {
font-size: 2em;
text-align: center;
}

#link-form input[type=text] {
font-size: 2em;
text-align: center;
width: 100%;
}

/* Word Page */

#ins table,
#outs table {
width: 100%;
}

#ins table tr > th:nth-child(2),
#ins table tr > td:nth-child(4),
#outs table tr > th:nth-child(2),
#outs table tr > td:nth-child(4) {
text-align: right;
}

/* Statistics Page */

#counts table,
#top-links table,
#new-words table,
#new-links table {
width: 100%;
}

#counts table tr > *:first-child,
#top-links table tr > *:first-child,
#new-words table tr > *:first-child,
#new-links table tr > *:first-child {
text-align: left;
}

#counts table tr > *:nth-child(2),
#counts table tr > *:nth-child(3),
#top-links table tr > th:nth-child(2),
#top-links table tr > td:nth-child(4),
#new-words table tr > *:nth-child(2),
#new-links table tr > th:nth-child(2),
#new-links table tr > td:nth-child(4) {
text-align: right;
}
